.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.logo{
    color: #fff;
    font-family: 'Poppins';
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.logo img{
    width: 25%;
    object-fit: cover;
}
