.navbar{
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0.264);
    z-index: 50;
    position: absolute;
}

.logo{
    color: #fff;
    font-family: 'Poppins';
    width:20%;
    text-align: center;
    cursor: pointer;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.nav_icon{
    cursor: pointer;
}
