.navbar{
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.logo{
    color: #fff;
    font-family: 'Poppins';
    width:20%;
    text-align: center;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.nav_icon{
    cursor: pointer;
    transition: .4s ease-in-out;
}

.on_scroll{
    backdrop-filter: blur(50px);
    background-color: #0000004a;
    position: fixed;
    transition: .4s ease-in-out;
    z-index: 30;

}