@media  (max-width: 575.98px){
    .build_info{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .build_info{
        display: none;

    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .build_info{
        display: none;

    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .info_wrapper{
        padding: 40px 30px;
    }

    .info{
        font-size: 16px;
    }
}

