/* RESPONSIVENESS */
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Styles for extra small screens */
    .section-get-to-know{
      background-color: red;
    }
    
    .gtk_header{
        padding: 10px;
    }
    
    .gtk_header h1{
        font-size: 32px;
        font-weight: 500;
    }

    .gtk-flex-container{
        padding: 10px;
        width: 100%;
        overflow-x: scroll;
    }

    .gtk-flex{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;

    }

    .gtk-card{
      width: 300px;
      height: 450px;
    }

    .gtk-card h2{
      font-size: 25px;
    }

    .gtk-card p{
      font-size: 14px;
    }

    .gtk-card-image{
      width: 100%;
      height: 100%;


  }
}
  
  /* Small devices (phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small screens */
    .section-get-to-know{
      background-color: yellow;
    }
    .gtk_header{
      padding: 10px;
  }
  
  .gtk_header h1{
      font-size: 32px;
      font-weight: 400;
  }

  .gtk-flex-container{
      padding: 10px;
      width: 100%;
      overflow-x: scroll;
  }

  .gtk-flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

  }

  .gtk-card{
    width: 300px;
    height: 550px;
  }

  .gtk-card h2{
    font-size: 29px;
  }

  .gtk-card p{
    font-size: 15px;
  }

  .gtk-card-image{
    width: 100%;
    height: 100%;


}
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for medium screens */
    .section-get-to-know{
      background-color: green;
    }
    .gtk_header{
      padding: 10px;
  }
  
  .gtk_header h1{
      font-size: 32px;
      font-weight: 600;
  }

  .gtk-flex-container{
      padding: 10px;
      width: 100%;
      overflow-x: scroll;
  }

  .gtk-flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

  }

  .gtk-card{
    width: 300px;
    height: 600px;
  }

  .gtk-card h2{
    font-size: 25px;
  }

  .gtk-card p{
    font-size: 14px;
  }

  .gtk-card-image{
    width: 100%;
    height: 100%;


}
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for large screens */
    .section-get-to-know{
      background-color: orange;
    }
    .gtk_header{
      padding: 10px;
  }
  
  .gtk_header h1{
      font-size: 32px;
      font-weight: 500;
  }

  .gtk-flex-container{
      padding: 10px;
      width: 100%;
      overflow-x: scroll;
  }

  .gtk-flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

  }

  .gtk-card{
    width: 320px;
    height: 600px;
  }

  .gtk-card h2{
    font-size: 25px;
  }

  .gtk-card p{
    font-size: 15px;
  }

  .gtk-card-image{
    width: 100%;
    height: 100%;


}
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    /* Styles for extra large screens */
    .section-get-to-know{
      background-color: pink;
    }
  }
  
  /* Extra extra large devices (very large screens, 1400px and up) */
  @media (min-width: 1400px) {
    /* Styles for ultra-wide screens */
    .section-get-to-know{
      background-color: purple;
    }
  }
  