@media (max-width: 575.98px) {
    .auction_section{
        padding: 15px;
        overflow-x: hidden;
    }

    .auction_header{
        width: 100%;
    }

    .auction_header h1{
        text-align: left;
        font-size: 32px;
        font-weight: 600;
    }

    .auction_header p{
        text-align: left;
        font-size: 1.1em;
    }

    .auction_inner{
        padding: 10px;
        max-width: 100%;
        margin: 0 auto;
    }

    .auction_content_wrapper{
        display: flex;
        flex-direction: column;
        gap: 4em;
    }

    .auction_content_wrapper div:nth-child(1){
        order: 1;
    }
    .auction_content_wrapper div:nth-child(2){
        order: 2;
    }
    .auction_content_wrapper div:nth-child(3){
        order: 4;
    }
    .auction_content_wrapper div:nth-child(4){
        order: 3;
    }
    .auction_content_wrapper div:nth-child(5){
        order: 5;
    }
    .auction_content_wrapper div:nth-child(6){
        order: 6;
    }

    .auction_img img{
        width: 100%;
        height: 350px;
    }

    .auction_content h2{
        font-size: 27px;
        font-weight: 500;
    }

    .auction_content p{
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .auction_section{
        padding: 15px;
    }

    .auction_header{
        width: 100%;
    }

    .auction_header h1{
        text-align: left;
        font-size: 32px;
        font-weight: 600;
    }

    .auction_header p{
        text-align: left;
        font-size: 1.1em;
    }

    .auction_inner{
        padding: 10px;
        max-width: 100%;
        margin: 0 auto;
    }

    .auction_content_wrapper{
        display: flex;
        flex-direction: column;
        gap: 4em;
    }

    .auction_content_wrapper div:nth-child(1){
        order: 1;
    }
    .auction_content_wrapper div:nth-child(2){
        order: 2;
    }
    .auction_content_wrapper div:nth-child(3){
        order: 4;
    }
    .auction_content_wrapper div:nth-child(4){
        order: 3;
    }
    .auction_content_wrapper div:nth-child(5){
        order: 5;
    }
    .auction_content_wrapper div:nth-child(6){
        order: 6;
    }

    .auction_img img{
        width: 100%;
        height: 350px;
    }

    .auction_content h2{
        font-size: 29px;
    }

    .auction_content p{
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium screens */
  .auction_section{
    padding: 15px;
    }

    .auction_header{
        width: 100%;
    }

    .auction_header h1{
        text-align: left;
        font-size: 32px;
        font-weight: 600;
    }

    .auction_header p{
        text-align: left;
        font-size: 1.2em;
    }

    .auction_inner{
        padding: 10px;
        max-width: 100%;
        margin: 0 auto;
    }

    .auction_content_wrapper{
        display: flex;
        flex-direction: column;
        gap: 4em;
    }

    .auction_content_wrapper div:nth-child(1){
        order: 1;
    }
    .auction_content_wrapper div:nth-child(2){
        order: 2;
    }
    .auction_content_wrapper div:nth-child(3){
        order: 4;
    }
    .auction_content_wrapper div:nth-child(4){
        order: 3;
    }
    .auction_content_wrapper div:nth-child(5){
        order: 5;
    }
    .auction_content_wrapper div:nth-child(6){
        order: 6;
    }

    .auction_img img{
        width: 100%;
        height: 380px;
        object-position: center;
    }

    .auction_content h2{
        font-size: 29px;
    }

    .auction_content p{
        font-size: 19px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .auction_content h2{
        font-size: 28px;
        font-weight: 500;
    }

    .auction_content p{
        font-size: 18px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Styles for extra large screens */
}

@media (min-width: 1400px) {
  /* Styles for ultra-wide screens */
}