@media (max-width: 575.98px) {
   
    .service_module_inner{
        margin: auto;
        padding: 40px 20px;
    }

    .service_module_list{
        flex-direction: column;
        gap: 10px;
    }

    .service_module_item{
        width: 100%;
        height: 60px;
        text-align: left;
        border-radius: 0;
        border-bottom: 1px solid #292929;
    }

    .service_module_item h2{
       font-size: 20px;
       text-align: left;
    }

    .service_module_item a{
        font-size: 16px;
    }

    .service_module_item img, .service_module_item svg, a{
        display: none;
    }
}
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .service_module_item{
        height: 200px;
    }

    .service_module_item h2{
        font-size: 21px;
    }

    .service_module_item a{
        font-size: 17px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .service_module_inner {
        padding: 15px;
    }

    .service_module_list {
        justify-content: center; 
    }

    .service_module_item {
        width: 260px;
        min-width: 250px;
        height: 260px;
        padding: 15px;
        border-radius: 20px;
    }

    .service_module_item svg {
        width: 100px;
        height: 100px;
    }

    .service_module_item h2 {
        font-size: 22px;
    }

    .service_module_item a {
        font-size: 16px;
    }
}
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  }
  
  @media (min-width: 1400px) {
  }
  