.our_brands{
    width: 100%;
    padding: 30px 80px;
    margin-top: 50px;
    font-family: poppins;
}

.brand_title{
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    padding-bottom: 50px;
}

.brand_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px; 
    width: 100%;
    max-width: 1500px; 
    margin: auto; 
    height: 1000px;
}

.brand_grid div{
    width: 100%;
    background-color: red;
    padding: 80px;
}