.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Poppins';
}

.hero_image{
    background-image: url('/images/Hero/GT63_coupe_hero.webp');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_text{
    position: absolute;
    top: 50%;
    left: 2%;
    color: aliceblue;
}

.hero_text h1{
    font-size: 4em;
    font-weight: 400;
}

.hero_text h2{
    font-size: 2em;
    font-weight: 400;
}

.hero_text h3{
    font-size: 1.5em;
    font-weight: 400;
}

.cta_button{
    padding: 1.5em 3em;
    background: transparent;
    color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.cta_button:hover{
    background: #0000006d;
    color: #fff;
}