.service_module {
    width: 100%;
    background-color: #f7f9fa;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.service_module_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
}

.service_module_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_module_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.service_module_item:hover{
    background-color: #07070718;
    text-decoration: underline;
    
}

.service_module_item img, .service_module_item svg{
    padding-bottom: 20px;
}

.service_module_item svg{
    width: 100px;
    height: 100px;
}

.service_module_item h2{
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 20px;
}

.service_module_item a{
    font-size: 18px;
    font-weight: 600;
    color: #e77e76;
    text-decoration: none;

}